footer.footer
  .container
  div(class='grid-container3')
    div
      p(style='font-style:normal;font-size:30px;color:whitesmoke;margin-left:-15em;') REFERENCE LINKS
      img(src='/images/gogeomatics_logo.png' class='img' style='margin-left:0.75em;width:20px;height:20px;margin-right:0px;')
      a(div class='alternate' href='https://gogeomatics.ca/')  GoGeomatics Canada
      br
      img(src='/images/smi_logo.png' class='img' style='margin-left:0.75em;width:20px;height:20px;margin-right:0px;')
      a(div class='alternate' href='https://smi.uq.edu.au/')  Sustainable Minerals Institute
      br
      img(src='/images/dmmme_logo.jpg' class='img' style='margin-left:0.75em;width:20px;height:20px;margin-right:0px;')
      a(div class='alternate' href='https://www.up.edu.ph/tag/clinn-gem/')  CLINN-GEM Project
      br
      img(src='/images/bmc_logo.PNG' class='img' style='margin-left:0.75em;width:20px;height:20px;margin-right:0px;')
      a(div class='alternate' href='https://biraddalimining.wixsite.com/home')  Biraddali Mining Corporation
    div
      br
      br
      br
      br
      br
      br
      br
      p(style='color:white; margin-left:400px;font-size:15px') Copyright © 2020 CMIsidro. All Rights Reserved