footer.footer
  .container
  div.grid-container-3
    div
      p.primary(style='font-family:cursive;') PROJECT ENGAGEMENTS
      img.imgsecondary(src='/images/gogeomatics_logo.png')
      a.alternate(href='https://gogeomatics.ca/author/caab_cmisidro/')  GoGeomatics Canada
      br
      img.imgsecondary(src='/images/smi_logo.png')
      a.alternate(href='https://smi.uq.edu.au/project/observing-land-water-footprints-small-scale-land-use-change-using-high-resolution-satellite-images-philippines-cagayan')  Sustainable Minerals Institute
      br
      img.imgsecondary(src='/images/dmmme_logo.jpg')
      a.alternate(href='https://www.up.edu.ph/tag/clinn-gem/')  CLINN-GEM Project
      br
      img.imgsecondary(src='/images/bmc_logo.PNG')
      a.alternate(href='https://biraddalimining.wixsite.com/home')  Biraddali Mining Corporation
    div.secondary
      p(style='font-size:15px;font-family:calibri;') M: +1 825 994 8705 | E: ceisidr@loblaw.ca | SE CALGARY, AB | Copyright © 2020 CMIsidro. All Rights Reserved