footer.footer
  .container
  div.grid-container-3
    div
      p.primary(style='font-family:verdana;') ORGANIZATIONS
      img.imgtertiary(src='/images/gogeomatics_logo.png')
      a.alternate(target='_blank' href='https://gogeomatics.ca/')  GoGeomatics
      br
      img.imgtertiary(src='/images/geoignite_logo.jpg')
      a.alternate(target='_blank' href='https://2020.geoignite.ca/sites/gogeomatics/en/geoignite2020/participants/2397')  GeoIgnite
      br
      img.imgtertiary(src='/images/comit_logo.PNG')
      a.alternate(target='_blank' href='https://comit.org/')  ComIT
      br
      img.imgtertiary(src='/images/researchgate_logo.PNG')
      a.alternate(target='_blank' href='https://www.researchgate.net/profile/Celso_Isidro2')  ResearchGate
      br
      img.imgtertiary(src='/images/bmc_logo.PNG')
      a.alternate(target='_blank' href='https://biraddalimining.wixsite.com/home')  Biraddali Mining Corporation
    div
      table
        tr
          td
            img.imgsecondary(style='width:150px;height:150px;border-style:solid;border-width:1px;' src='/images/cmi_avatar.jpg')
          td(style='vertical-align:top;') 
            img.imgtertiary(src='/images/LinkedIn logo.png')
            a.alternate(target='_blank' href='http://www.linkedin.com/in/celsoisidro')  celsoisidro
            br
            img.imgtertiary(src='/images/GitHub logo.png')
            a.alternate(target='_blank' href='http://www.github.com/celsoisidro/geomaticslive')  GitHub Repository
            br
            img.imgtertiary(src='/images/mobile_cad_logo.png') 
            span   (825) 994 8705
            br
            img.imgtertiary(src='/images/email_logo.png') 
            span   celso.m.isidro@gmail.com
        tr
          td
          td
            p Copyright © 2020 CMIsidro. All Rights Reserved