extends layout

block content
  div.grid-container-1
    div
      p.primary(style='font-family:verdana;') SITE CORE CONCEPTS
      img.imgprime(src='images/sitecoreconcepts.png' style='width:350px;height:350px;')
    div
      p.primary(style='font-family:verdana;') PROJECTS
      img.imgprime(src='/images/portfolioclip.gif' style='width:700px;height:350px;')
  div.grid-container-2
    div
      p.primary(style='font-family:verdana;') GEOMATICS TECHNOLOGY-IT TRENDS
      img.imgsecondary(src='https://cdn.investingnews.com/app/uploads/2018/08/remote-sensing-250x167.jpg')
      a.prime(href='https://investingnews.com/daily/resource-investing/precious-metals-investing/gold-investing/introduction-to-remote-sensing-and-mineral-exploration/')  Introduction to Remote Sensing in Mineral Exploration (20191109)
      br
      img.imgsecondary(src='https://www.integratesustainability.com.au/wp-content/uploads/2019/09/Insight-Thumbnails-Remote-sensing.png')
      a.prime(href='https://www.integratesustainability.com.au/2019/09/23/remote-sensing-as-a-technology-to-monitor-rehabilitation-performance-in-mining/')  Remote sensing as a technology to monitor rehabilitation performance in mining (20190923)
      br
      img.imgsecondary(src='https://i0.wp.com/www.gislounge.com/wp-content/uploads/2020/05/northcarolina-lake-pollution-landsat.png?w=720&ssl=1')
      a.prime(href='https://www.gislounge.com/monitoring-lakes-using-remote-sensing-data/')  Monitoring Lakes Using Remote Sensing Data (20200527)
      br
      img.imgsecondary(src='/images/geoignite_logo.jpg')
      a.prime(href='https://2020.geoignite.ca/sites/gogeomatics/en/geoignite2020')  GeoIgnite Online 2020: Canada's National Virtual Geospatial Event (20200722-24)
      br
      img.imgsecondary(src='/images/youtube_logo.png')
      a.prime(href='')  GeoIgnite Online 2020 Sessions (20200907)
      br
      img.imgsecondary(src='https://specials-images.forbesimg.com/imageserve/5e4512fef133f4000628a1f2/960x0.jpg?fit=scale')
      a.prime(href='https://resources-covid19canada.hub.arcgis.com/')  ESRI: 2020 Real-time COVID-19 Monitoring in Canada (On-going)