doctype html
html

  link(rel="shortcut icon" href="/favicontwo.ico.jpg" type="image/x-icon")
  link(rel='stylesheet', href='/stylesheets/style.css')

  div(class='grid-container')
    div
      br
      a(href='/landmark')
        img(src='/images/Box_button-Satellite.png' alt='Satellite variants' style='width:auto;max-width:90px;margin:20px;display:table;')
      img(src="/images/Box_button-Mining.png" alt="Mining Context" style='width:auto;max-width:90px;margin:20px;display:table;')
      img(src="/images/Box_button-Envi.png" alt="Environmental Context" style='width:auto;max-width:90px;margin:20px;display:table;')
      a(href='/renderedmaps')
        img(src="/images/Box_button-Mapping.png" alt="Rendered Maps" style='width:auto;max-width:90px;margin:20px;display:table;')
    div
      p(style="font-style:normal;font-size:30px;margin-left:-17em;") ABOUT
      img(src="images/siteobjectives.png" style="width:600px;height:350px;")
    div
      p(style="font-style:normal;font-size:30px;margin-left:-19em;") INTERESTS
      img(src="images/portfolio_clip_two.gif" style="width:700px;height:350px;")

  div(class='grid-container2')
    div
      p(style="font-style:normal;font-size:30px;margin-left:-27em;") REMOTE SENSING-GIS TECHNOLOGY TRENDS
      img(src="https://cdn.investingnews.com/app/uploads/2018/08/remote-sensing-250x167.jpg" alt="img" class="img" style="margin-left:0.75em;width:30px;height:30px;margin-right:0px;")
      a(href="https://investingnews.com/daily/resource-investing/precious-metals-investing/gold-investing/introduction-to-remote-sensing-and-mineral-exploration/") Introduction to Remote Sensing in Mineral Exploration
      br
      img(src="https://www.integratesustainability.com.au/wp-content/uploads/2019/09/Insight-Thumbnails-Remote-sensing.png" alt="img" class="img" style="margin-left:0.75em;width:30px;height:30px;margin-right:0px;")
      a(href="https://www.integratesustainability.com.au/2019/09/23/remote-sensing-as-a-technology-to-monitor-rehabilitation-performance-in-mining/") Remote sensing as a technology to monitor rehabilitation performance in mining
      br
      img(src="https://i0.wp.com/www.gislounge.com/wp-content/uploads/2020/05/northcarolina-lake-pollution-landsat.png?w=720&ssl=1" alt="img" class="img" style="margin-left:0.75em;width:30px;height:30px;margin-right:0px;")
      a(href="https://www.gislounge.com/monitoring-lakes-using-remote-sensing-data/") Monitoring Lakes Using Remote Sensing Data
      br
      img(src="https://cust-images.grenadine.co/grenadine/image/upload/c_fit,h_500,q_70,w_1000/v3/GoGeomatics/GeoIgnite2020CanadasNationalGeospatialEvent/planner_websites/content_images/ForegroundImage/58.png" alt="img" class="img" style="margin-left:0.75em;width:30px;height:30px;margin-right:0px;")
      a(href="https://2020.geoignite.ca/sites/gogeomatics/en/geoignite2020") GeoIgnite Online 2020: Canada's National Virtual Geospatial Event
      br
      img(src="https://specials-images.forbesimg.com/imageserve/5e4512fef133f4000628a1f2/960x0.jpg?fit=scale" alt="img" class="img" style="margin-left:0.75em;width:30px;height:30px;margin-right:0px;")
      a(href="https://resources-covid19canada.hub.arcgis.com/") ESRI: 2020 Real-time COVID-19 Monitoring in Canada
      br
      img(src='/images/logo_sym.png' alt='img' class='img' style='margin-left:0.75em;width:30px;height:30px;margin-right:0px;')
      a(href="https://celsoisidro.github.io/nodeyyc/") ComIT Calgary Exercises (HTML, CSS, JS)

  div(class='grid-container3')
    div
      p(style="font-style:normal;font-size:30px;color:whitesmoke;margin-left:-16em;") EXTERNAL LINKS
      img(src="/images/gogeomatics_logo.png" alt="img" class="img" style='margin-left:0.75em;width:20px;height:20px;margin-right:0px;')
      a(div class="alternate" href="https://gogeomatics.ca/") GoGeomatics Canada
      br
      img(src="/images/smi_logo.png" alt="img" class="img" style="margin-left:0.75em;width:20px;height:20px;margin-right:0px;")
      a(div class="alternate" href="https://smi.uq.edu.au/") Sustainable Minerals Institute
      br
      img(src="/images/dmmme_logo.jpg" alt="img" class="img" style="margin-left:0.75em;width:20px;height:20px;margin-right:0px;")
      a(div class="alternate" href="https://www.up.edu.ph/tag/clinn-gem/") CLINN-GEM Project
      br
      img(src="/images/bmc_logo.PNG" alt="img" class="img" style="margin-left:0.75em;width:20px;height:20px;margin-right:0px;")
      a(div class="alternate" href="https://biraddalimining.wixsite.com/home") Biraddali Mining Corporation
    div
      img(src="images/mine-envi_edited.jpg" alt="img" class="img" style="width:280px;height:280px;margin-left:400px;")
      p(style="color:white; margin-left:400px;font-size:15px") Copyright © 2020 CMIsidro. All Rights Reserved