extends layout

block content
  div.grid-container-1
    div
      br
      br
      br
      img.imgprime(src='images/sitecoreconcepts.png' style='width:350px;height:350px;') 
    div
      br
      br
      br
      p Celso Isidro is a Geospatial and Information Technology enthusiast. In the past 10 years, he devoted himself to managing engineering projects, Geospatial and Information Technologies field applications and mining industry-academia research collaborations. He holds an M.Phil Degree in Geomatics and Mining Engineering from the University of Queensland, Australia. He is also an alumnus of the University of Philippines where he earned his M.Sc Environmental Engineering and B.Sc Mining Engineering degrees. During free time, you will find him having his jog routine and capturing nature's beauty.
      p His vision is to intigrate his expertise with life passion and make this as an inspiration to those who are seeking there future roles and career. 
    div
      p.primary(style='font-family:verdana;') MILESTONE
      div.cont
        div.mySlides 
            img(src='/images/Slide1.GIF' style='width:100%;')
        div.mySlides 
            img(src='/images/Slide2.GIF' style='width:100%;')
        div.mySlides 
            img(src='/images/Slide3.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide4.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide5.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide6.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide7.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide8.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide9.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide10.GIF' style='width:100%')
        div.mySlides 
            img(src='/images/Slide11.GIF' style='width:100%')

        div.caption-cont
          p(id='caption')

        div.r
          div.c
            img.demo.cursor(src='/images/Slide1.GIF' onclick='currentSlide(1)' style='width:100%;' alt='Mining Operations Optimization')
          div.c
            img.demo.cursor(src='/images/Slide2.GIF' onclick='currentSlide(2)' style='width:100%;' alt='Quarry Operations Optimization')
          div.c
            img.demo.cursor(src='/images/Slide3.GIF' onclick='currentSlide(3)' style='width:100%;' alt='Mine Exploration Drilling Program and Digital Elevation Model')
          div.c
            img.demo.cursor(src='/images/Slide4.GIF' onclick='currentSlide(4)' style='width:100%;' alt='Community-Led Integrated Non-Cyanide, Non-Mercury Gold Extraction Method (CLINN-GEM) (2014-2015, 2018)')
          div.c
            img.demo.cursor(src='/images/Slide5.GIF' onclick='currentSlide(5)' style='width:100%;' alt='Observing Land and Water Footprints of Small-scale Land use change using High Resolution Satellite Images (2015-2017)')
          div.c
            img.demo.cursor(src='/images/Slide6.GIF' onclick='currentSlide(6)' style='width:100%;' alt='Observing Land and Water Footprints of Small-scale Land use change using High Resolution Satellite Images (2015-2017)')
          div.c
            img.demo.cursor(src='/images/Slide7.GIF' onclick='currentSlide(7)' style='width:100%;' alt='Observing Land and Water Footprints of Small-scale Land use change using High Resolution Satellite Images (2015-2017)')
          div.c
            img.demo.cursor(src='/images/Slide8.GIF' onclick='currentSlide(8)' style='width:100%;' alt='Technology Transfer and Academia')
          div.c
            img.demo.cursor(src='/images/Slide9.GIF' onclick='currentSlide(9)' style='width:100%;' alt='Forest Fire Detection, Topographic Survey, Mine Modelling')
          div.c
            img.demo.cursor(src='/images/Slide10.GIF' onclick='currentSlide(10)' style='width:100%;' alt='Online Articles')
          div.c
            img.demo.cursor(src='/images/Slide11.GIF' onclick='currentSlide(11)' style='width:100%;' alt='Calgary East Zone Newcomers Collaborative (CENC) (2021)')
          
      b Major Projects:
      br
      img.imgtertiary(src='/images/logo_sym.png')
      a.prime(href='https://www.calgarylip.ca/cenc' target='_blank')  Calgary East Zone Newcomers Collaborative (CENC) (2021)
      br
      img.imgtertiary(src='/images/logo_sym.png')
      a.prime(href='https://www.up.edu.ph/tag/clinn-gem/' target='_blank')  Community-Led Integrated Non-Cyanide, Non-Mercury Gold Extraction Method (CLINN-GEM) (2014-2015, 2018)
      br
      img.imgtertiary(src='/images/logo_sym.png')
      a.prime(href='https://smi.uq.edu.au/project/observing-land-water-footprints-small-scale-land-use-change-using-high-resolution-satellite-images-philippines-cagayan' target='_blank')  Observing Land and Water Footprints of Small-scale Land use change using High Resolution Satellite Images (2015-2017)
  div.grid-container-2
    div
      p.primary(style='font-family:verdana;') GEOMATICS TECHNOLOGY-IT TRENDS
      img.imgtertiary(src='https://cdn.investingnews.com/app/uploads/2018/08/remote-sensing-250x167.jpg')
      a.prime(target='_blank' href='https://investingnews.com/daily/resource-investing/precious-metals-investing/gold-investing/introduction-to-remote-sensing-and-mineral-exploration/')  Introduction to Remote Sensing in Mineral Exploration
      br
      img.imgtertiary(src='https://www.integratesustainability.com.au/wp-content/uploads/2019/09/Insight-Thumbnails-Remote-sensing.png')
      a.prime(target='_blank' href='https://www.integratesustainability.com.au/2019/09/23/remote-sensing-as-a-technology-to-monitor-rehabilitation-performance-in-mining/')  Remote sensing as a technology to monitor rehabilitation performance in mining
      br
      img.imgtertiary(src='https://i0.wp.com/www.gislounge.com/wp-content/uploads/2020/05/northcarolina-lake-pollution-landsat.png?w=720&ssl=1')
      a.prime(target='_blank' href='https://www.gislounge.com/monitoring-lakes-using-remote-sensing-data/')  Monitoring Lakes Using Remote Sensing Data
      br
      img.imgtertiary(src='/images/geoignite_logo.jpg')
      a.prime(target='_blank' href='https://2020.geoignite.ca/sites/gogeomatics/en/geoignite2020')  GeoIgnite Online 2020: Canada's National Virtual Geospatial Event
      br
      img.imgtertiary(src='/images/youtube_logo.png')
      a.prime(target='_blank' href='')  GeoIgnite Online 2020 Sessions
      br
      img.imgtertiary(src='https://specials-images.forbesimg.com/imageserve/5e4512fef133f4000628a1f2/960x0.jpg?fit=scale')
      a.prime(target='_blank' href='https://resources-covid19canada.hub.arcgis.com/')  ESRI: 2020 Real-time COVID-19 Monitoring in Canada
  script
    include ../public/javascripts/index.js