doctype html
html

  include includes/head
  include includes/header
  link(rel="shortcut icon" href="/favicontwo.ico.jpg" type="image/x-icon")

  img(src='/images/surveymap.png' alt='Satellite variants' style='width:auto;max-width:1600px;margin:20px;display:table;')