doctype html
html

head
  link(href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css")
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  link(rel="shortcut icon" href="/images/favicontwo.ico.jpg" type="image/x-icon")

  script
    include ../public/javascripts/main.js

body
  div.container
    div.well
      p This website page is under construction
        div.progressbar
          div.progress-label %COMPLETION
br
br
a(href='/layout')
  img(class='one' src=' /images/Box_button-grpsum.png' style='width:13%')
img(class='one' src='images/index_cmi_head_pt3.png' style='width:100%;')