extends layout

block content
  div.grid-container4
    div
      a(href='/pubarticone')
        img(src='/images/pubOne.png' style='width:250px;')
    div
      a(href='/pubartictwo')
        img(src='/images/pubTwo.png' style='width:250px;')
    div
      a(href='/pubarticthree')
        img(src='/images/pubThree.png' style='width:250px;')
    div
      a(href='/pubarticfour')
        img(src='/images/pubFour.png' style='width:250px;')
    div
      a(href='/pubarticfive')
        img(src='/images/pubFive.png' style='width:250px;')
      
  div.grid-container4
    div
      p(style='font-size:10px; text-align:left;') TITLE: Applicability of Earth Observation for Identifying Small-Scale Mining Footprints in a Wet Tropical Region
    div
      p(style='font-size:10px; text-align:left;') TITLE: Quantifying suspended solids in small rivers using satellite data
    div
      p(style='font-size:10px; text-align:left;') TITLE: Remote sensing of land use changes and impacts on river turbidity in a small-scale mining region
    div
      p(style='font-size:10px; text-align:left;') TITLE: Remote Detection of Placer Deposits and Iron-bearing Minerals using the Infrared Spectrum for the Identification of Environmental Monitoring Sites in Benguet Catchment 
    div
      p(style='font-size:10px; text-align:left;') TITLE: Remote Sensing: The Potential Impacts of COVID-19 on Oil and Gas Sector 