extends layout

block content
  iframe(src='https://gogeomatics.ca/geoignite-2020-video-innovations-and-lidar-applications-for-trees-water-by-quantum-spatial-canada/' width='1600px' height='1000px' style='border: none;')