doctype html
html

  include includes/head
  include includes/header
  link(rel="shortcut icon" href="/favicontwo.ico.jpg" type="image/x-icon")

  iframe(src="https://gogeomatics.ca/remote-sensing-the-potential-impacts-of-covid-19-on-oil-gas-sector/" width="1600px" height="500px" style="border: none;")

  include includes/foot