extends layout

block content
  iframe(src='https://gogeomatics.ca/satellite-remote-sensing-tools-optical-imaging-and-their-applications-in-your-day-to-day-activities/s' width='1600px' height='1000px' style='border: none;')