extends layout

block content
  div.grid-container-5
    div
      a(href='/pubarticleone')
        img(src='/images/pubOne.png' style='width:250px;')
      p(style='font-size:10px; text-align:left;') TITLE: Applicability of Earth Observation for Identifying Small-Scale Mining Footprints in a Wet Tropical Region
    div
      a(href='/pubarticletwo')
        img(src='/images/pubTwo.png' style='width:250px;')
      p(style='font-size:10px; text-align:left;') TITLE: Quantifying suspended solids in small rivers using satellite data
    div
      a(href='/pubarticlethree')
        img(src='/images/pubThree.png' style='width:250px;')
      p(style='font-size:10px; text-align:left;') TITLE: Remote sensing of land use changes and impacts on river turbidity in a small-scale mining region
    div
      a(href='/pubarticlefour')
        img(src='/images/pubFour.png' style='width:250px;')
      p(style='font-size:10px; text-align:left;') TITLE: Remote Detection of Placer Deposits and Iron-bearing Minerals using the Infrared Spectrum for the Identification of Environmental Monitoring Sites in Benguet Catchment 
    div
      a(href='/pubarticlefive')
        img(src='/images/pubFive.png' style='width:250px;')
      p(style='font-size:10px; text-align:left;') TITLE: Remote Sensing: The Potential Impacts of COVID-19 on Oil and Gas Sector 
    div
      a(href='/pubarticlesix')
        img(src='/images/pubSix.png' style='width:250px;')
      p(style='font-size:10px; text-align:left;') TITLE: GeoIgnite 2020: Flood mapping activities and research at Natural Resources Canada 
    div
      a(href='/pubarticleseven')
        img(src='/images/pubSeven.png' style='width:250px;')
      p(style='font-size:10px; text-align:left;') TITLE: GeoIgnite 2020 Video: Innovations and Lidar Applications for Trees and Water by Quantum Spatial Canada 