doctype html
html

  include includes/head
  include includes/header
  link(rel='shortcut icon' href='/favicontwo.ico.jpg' type='image/x-icon')

  iframe(src='images/two.pdf' width='1600px' height='1000px' style='border: none;')
 
  include includes/foot