extends layout

block content
  iframe(src='https://gogeomatics.ca/geoignite-2020-opening-keynote-video-by-ccmeo-geospatial-opportunities-in-covid-times/' width='1600px' height='1000px' style='border: none;')