doctype html
html

  include includes/head
  include includes/header
  link(rel="shortcut icon" href="/favicontwo.ico.jpg" type="image/x-icon")

  div(class='grid-container0')
    div
      img(src='/images/renimg5.jpg' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
      img(src='/images/renimg3.jpg' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/renimg2.jpg' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/renimg4.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/renimg1.jpg' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/renimg6.jpg' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')