doctype html
html

  include includes/head
  include includes/header
  link(rel="shortcut icon" href="/favicontwo.ico.jpg" type="image/x-icon")

  div.grid-container0
    div
      include satone
    div
      include sattwo
    div
      include satthree
    div
      include satfour
    div
      include satfive
    div
      include satsix

  include includes/foot