doctype html
html

  include includes/head
  include includes/header
  link(rel="shortcut icon" href="/favicontwo.ico.jpg" type="image/x-icon")

  div(class='grid-container0')
    div
      img(src='/images/sat_landsateight.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
      img(src='/images/sat_poes.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/sat_spotsix.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/sat_pleaides1a.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/sat_worldview3.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    div
     img(src='/images/sat_rapideye.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
    
    div(class='grid-container')
      div
      div
        img(src='/images/sat_candidateno7.png' alt='Satellite variants' style='width:auto;max-width:500px;margin:20px;display:table;')
      div
        p SPATIAL
          div(id="progressbar")
            div(class="progress-label")
        p SPECTRAL
          div(id="progressbar2")
            div(class="progress-label2")
        p RADIAL
          div(id="progressbar3")
            div(class="progress-label3")
        p TEMPORAL
          div(id="progressbar4")
            div(class="progress-label4")
      
      div(class='grid-container3')
      div
        img(src='/images/satlayout1.png' alt='Satellite variants' style='width:auto;max-width:1200px;margin:20px;display:table;')
        img(src='/images/satlayout2.png' alt='Satellite variants' style='width:auto;max-width:1200px;margin:20px;display:table;')
        img(src='/images/satlayout3.png' alt='Satellite variants' style='width:auto;max-width:1200px;margin:20px;display:table;')
        img(src='/images/satlayout4.png' alt='Satellite variants' style='width:auto;max-width:1200px;margin:20px;display:table;')
  script
    include satellite.js 

  include includes/foot