doctype html
html

head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")

body
    div(class='overlay')
        img(src='/images/sat_spotsix.png' alt='Satellite variants' style='width:500px;height:250px;')
        img(class='firstbutton' src='/images/button_purple.png' style='width:80px;')
        img(class='secondbutton' src='/images/button_blue.png' style='width:80px;')
        img(class='thirdbutton' src='/images/button_green.png' style='width:80px;')
        img(class='fourthbutton' src='/images/button_red.png' style='width:80px;')
