doctype html
html

head
    link(rel='stylesheet' href='/stylesheets/style.css' type='text/css')

body
    div.overlay
        img(src='/images/sat_landsateight.png' style='width:500px;height:250px;')
        div(class='button' style='width:70px;')
            img(src='/images/button_animated.gif' onclick='myFunction()')
            span(class='popuptext' id='myPopup') Landsat 8 (formally the Landsat Data Continuity Mission, LDCM) was launched on an Atlas-V rocket from Vandenberg Air Force Base, California on February 11, 2013. Landsat 8 is the most recently launched Landsat satellite and carries the Operational Land Imager (OLI) and the Thermal Infrared Sensor (TIRS) instruments.
        
    script
        include ../public/javascripts/satellitepopup.js 