extends layout

block content
  div.grid-container-4
    div
      include satone
    div
      include sattwo
    div
      include satthree
    div
      include satfour
    div
      include satfive
    div
      include satsix