extends layout

block content
  div.grid-container-4
    div
      include sat_landsateight
    div
      include sat_pleaides1a
    div
      include sat_poes
    div
      include sat_rapideye
    div
      include sat_spotsix
    div
      include sat_worldviewthree