extends layout

block content
    style
        include ../public/stylesheets/maps.css
    b Country Selections:
    p Australia, Asia, Canada
    div(id='viewDiv')
    script
        include ../public/javascripts/traveltrail.js

    img(src='/images/geotagged_img_model_images.png')