extends layout

block content
  div.grid-container-2
      div.cont
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%;')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%;')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')
        div.mySlides 
            img(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' style='width:100%')

        div.caption-cont
          p(id='caption')

        div.r
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(1)' style='width:100%;' alt='Mining Operations Optimization')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(2)' style='width:100%;' alt='Quarry Operations Optimization')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(3)' style='width:100%;' alt='Mine Exploration Drilling Program and Digital Elevation Model')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(4)' style='width:100%;' alt='Community-Led Integrated Non-Cyanide, Non-Mercury Gold Extraction Method (CLINN-GEM) (2014-2015, 2018)')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(5)' style='width:100%;' alt='Observing Land and Water Footprints of Small-scale Land use change using High Resolution Satellite Images (2015-2017)')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(6)' style='width:100%;' alt='Observing Land and Water Footprints of Small-scale Land use change using High Resolution Satellite Images (2015-2017)')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(7)' style='width:100%;' alt='Observing Land and Water Footprints of Small-scale Land use change using High Resolution Satellite Images (2015-2017)')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(8)' style='width:100%;' alt='Technology Transfer and Academia')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(9)' style='width:100%;' alt='Forest Fire Detection, Topographic Survey, Mine Modelling')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(10)' style='width:100%;' alt='Online Articles')
          div.c
            img.demo.cursor(src='/images/Countries/AU_Noosa_Queensland/NB001.jpg' onclick='currentSlide(11)' style='width:100%;' alt='Calgary East Zone Newcomers Collaborative (CENC) (2021)')
          
      
  script
    include ../public/javascripts/index.js