extends layout

block content
    style
        include ../public/stylesheets/maps.css

    b LOCATION: Noosa Beach, Queensland AU
    div.grid-container-2
        div(id='viewDiv' style='width:900px;height:500px;')
    

    script
        include ../public/javascripts/travel_noosabeach.js
        include ../public/javascripts/travel_noosabeach_img.js
       
