doctype html
html
    head    
        include includes/head
        include includes/header
        link(rel='shortcut icon' href='/favicontwo.ico.jpg' type='image/x-icon')
        
        style
            include ../public/stylesheets/worldview.css

    body
        p(style='margin-left:0px;font-size:20px') View==Calgary City, AB, Canada
        div(id='viewDiv')
        script
            include ../public/javascripts/worldviewwidget.js

    