doctype html
html
    head    
        include includes/head
        include includes/header
        link(rel='shortcut icon' href='/favicontwo.ico.jpg' type='image/x-icon')
        
        style
            include ../public/stylesheets/worldview.css

    body
        div(id='viewDiv')
        script
            include ../public/javascripts/worldviewwidget.js

    